<?xml version="1.0"?>
<!--
/**
 * Acl configuration
 *
 * @category  Roche
 * @package   Roche\Blog
 * @author    Roman Chernii <roche@smile.fr>
 * @copyright 2019 Smile
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="Roche_Blog::blog_core" title="Blog Core">
                    <resource id="Roche_Blog::post" title="Blog Post" translate="title" sortOrder="10">
                        <resource id="Roche_Blog::post_save" title="Save Post" translate="title" sortOrder="10" />
                        <resource id="Roche_Blog::post_delete" title="Delete Post" translate="title" sortOrder="20" />
                    </resource>
                </resource>
            </resource>
        </resources>
    </acl>
</config>
