<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <hodovanuk_blog>
            <posts_listing>
                <image>
                    <height>400</height>
                    <width>500</width>
                </image>
            </posts_listing>
            <post_view>
                <image>
                    <height>650</height>
                    <width>900</width>
                </image>
            </post_view>
        </hodovanuk_blog>
    </default>
</config>
