<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Hodovanuk\Blog\Api\Data\PostInterface" type="Hodovanuk\Blog\Model\Post" />
    <preference for="Hodovanuk\Blog\Api\Data\CommentInterface" type="Hodovanuk\Blog\Model\Comment" />
</config>
