<?xml version="1.0" encoding="UTF-8"?>
<!--
/**
 *  di.xml
 *
 * @category  Lebed
 * @package   Lebed\Blog
 * @author    Tetiana Lebed <teleb@smile.fr>
 * @copyright 2019 Smile
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Lebed\Blog\Api\Data\PostInterface" type="Lebed\Blog\Model\Post" />
</config>
