<?xml version="1.0"?>
<!--
/**
 * Chleck Blog dependency injection adminhtml
 *
 * @category  Chleck
 * @package   Chleck\Blog
 * @author    Yuri Chleck <yurichlek@gmail.com>
 * @copyright 2019 Smile
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Chleck\Blog\Model\Post\Image\Uploader">
        <arguments>
            <argument name="baseTmpPath" xsi:type="string">chleck_blog/post/image</argument>
            <argument name="basePath" xsi:type="string">blog/post</argument>
            <argument name="allowedExtensions" xsi:type="array">
                <item name="pdf" xsi:type="string">pdf</item>
                <item name="jpg" xsi:type="string">jpg</item>
                <item name="jpeg" xsi:type="string">jpeg</item>
                <item name="png" xsi:type="string">png</item>
                <item name="gif" xsi:type="string">gif</item>
                <item name="bmp" xsi:type="string">bmp</item>
            </argument>
            <argument name="allowedMimeTypes" xsi:type="array">
                <item name="pdf" xsi:type="string">application/pdf</item>
                <item name="jpg" xsi:type="string">image/jpg</item>
                <item name="jpeg" xsi:type="string">image/jpeg</item>
                <item name="png" xsi:type="string">image/png</item>
                <item name="gif" xsi:type="string">image/gif</item>
                <item name="bmp" xsi:type="string">image/bmp</item>
            </argument>
        </arguments>
    </type>
    <type name="Chleck\Blog\Controller\Adminhtml\Post\Upload">
        <arguments>
            <argument name="imageUploader" xsi:type="object">Chleck\Blog\Model\Post\Image\Uploader</argument>
        </arguments>
    </type>
</config>
