<?xml version="1.0"?>
<!--
/**
 * Roche Blog menu
 *
 * @category  Roche
 * @package   Roche\Blog
 * @author    Roman Chernii <roche@smile.fr>
 * @copyright 2019 Smile
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Chleck_Blog::blog_core"
             title="Blog_Chl"
             module="Chleck_Blog"
             sortOrder="50"
             resource="Roche_Blog::blog_core" />

        <add id="Chleck_Blog::post"
             title="Post"
             module="Chleck_Blog"
             sortOrder="10"
             parent="Chleck_Blog::blog_core"
             action="chleck_blog/post"
             resource="Chleck_Blog::post" />
    </menu>
</config>
