<?xml version="1.0"?>
<!--
/**
 * Acl configuration
 *
 * @category  Dehtiarov
 * @package   Dehtiarov\BlogVideh
 * @author    Victor Dehtiarov <videh@smile.fr>
 * @copyright 2019 Smile
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="Dehtiarov_BlogVideh::blog_core" title="Blog Core">
                    <resource id="Dehtiarov_BlogVideh::post" title="Blog Post" translate="title" sortOrder="10">
                        <resource id="Dehtiarov_BlogVideh::post_save" title="Save Post" translate="title" sortOrder="10" />
                        <resource id="Dehtiarov_BlogVideh::post_delete" title="Delete Post" translate="title" sortOrder="20" />
                    </resource>
                </resource>
            </resource>
        </resources>
    </acl>
</config>
