<?xml version="1.0"?>
<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="dehtiarov" translate="label" sortOrder="110">
            <label>Dehtiarov config</label>
        </tab>
        <section id="dehtiarov_config" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
            <class>separator-top</class>
            <label>Dehtiarov first Configuration</label>
            <tab>dehtiarov</tab>
            <resource>Dehtiarov_ConfigVideh::config_videh</resource>
            <group id="my_first_group_videh" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Is Enable</label>
                <attribute type="expanded">1</attribute>
                <field id="field_id_videh" translate="label comment" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>My Yes / No Filed</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="field_id_videh_input" translate="label comment" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Input</label>
                    <comment>Please set sting</comment>
                </field>
            </group>
            <group id="my_second_group_videh" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Is Disable</label>
                <attribute type="expanded">0</attribute>
                <field id="field_id_videh" translate="label comment" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>My Yes / No Filed</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
            </group>
        </section>
        <section id="payment">
            <group id="videh_payment" translate="label" type="text" sortOrder="25" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Dehtiarov Payment Configuration</label>
                <field id="api_key" translate="label comment" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>API Key</label>
                    <config_path>payment/videh/api_key</config_path>
                </field>
            </group>
        </section>
    </system>
</config>
