<?xml version="1.0"?>
<!--
/**
 * Koshyk Blog frontend routes
 *
 * @category  Koshyk
 * @package   Koshyk\Blog
 * @author    Roman Koshyk <romadaaaa@gmail.com>
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="standard">
        <route id="koshyk_blog" frontName="koshyk_blog">
            <module name="Koshyk_Blog"/>
        </route>
    </router>
</config>
