<?xml version="1.0"?>
<!--
/**
 * Roche Test frontend routes
 *
 * @category  Roche
 * @package   Roche\Test
 * @author    Roman Chernii <roche@smile.fr>
 * @copyright 2019 Smile
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="standard">
        <route id="roche_test" frontName="roche_test">
            <module name="Roche_Test"/>
        </route>
    </router>
</config>
