<?xml version="1.0"?>
<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="sam" translate="label" sortOrder="110">
            <label>Hello</label>
        </tab>
        <section id="sam_section" translate="label" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
            <class>separator-top</class>
            <label>Sam Section</label>
            <tab>sam</tab>
            <resource>Sam_Configuration::config_sam</resource>
            <group id="my_sam" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1"
                   showInStore="0">
                <label>Is SAM</label>
                <attribute type="expanded">1</attribute>
                <field id="sam_id" translate="label sam" type="text" sortOrder="10" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <label>SAM</label>
                </field>
                <field id="sam_input" translate="label_comment" type="text" sortOrder="20" showInDefault="1"
                       showInWebsite="1" showInStore="1">
                    <label>Input</label>
                    <comment>Please set string</comment>
                </field>
            </group>
        </section>
        <section id="payment">
            <group id="sam_payment" translate="label" type="text" sortOrder="25" showInDefault="1" showInWebsite="1"
                   showInStore="1">
                <label>Sam payment configuration</label>
                <field id="api_key" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1"
                       showInStore="0">
                    <label>API key</label>
                    <config_path>payment/sam_payment/api_key</config_path>
                </field>
            </group>
        </section>
    </system>
</config>
