<?xml version="1.0"?>
<!--
/**
 * Roche Customer config
 *
 * @category  Roche
 * @package   Roche\Customer
 * @author    Roman Chernii <roche@smile.fr>
 * @copyright 2019 Smile
 */
 -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
    <module name="Roche_Customer" setup_version="0.0.1">
        <sequence>
            <module name="Magento_Customer"/>
            <module name="Magento_Eav"/>
        </sequence>
    </module>
</config>
