<?xml version="1.0"?>
<!--
/**
 * Chleck ThirdModule frontend routes
 *
 * @category  Chleck
 * @package   Chleck\ThirdModule
 * @author    Yuri Chleck <yurichlek@gmail.com>
 * @copyright 2019 Smile
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="standard">
        <route id="third" frontName="third">
            <module name="Chleck_ThirdModule"/>
        </route>
    </router>
</config>
