<?xml version="1.0"?>
<!--
/**
 * Default configuration
 *
 * @category  Roche
 * @package   Roche\Configuration
 * @author    Roman Chernii <roche@smile.fr>
 * @copyright 2019 Smile
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <roche_section>
            <my_first_group>
                <field_id>1</field_id>
                <field_id_input>Text from config.xml</field_id_input>
            </my_first_group>
        </roche_section>
        <payment>
            <roche>
                <api_key>UI209KWPOLANKD71P0OQL8362810DW8P</api_key>
            </roche>
        </payment>
    </default>
</config>
