<?xml version="1.0"?>
<!--
/**
 * Koshyk Customer config
 *
 * @category  Koshyk
 * @package   Koshyk\Blog
 * @author    Roman Koshyk <romadaaaa@gmail.com>
 */
 -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
    <module name="Koshyk_Customer" setup_version="0.0.1">
        <sequence>
            <module name="Magento_Customer"/>
            <module name="Magento_Eav"/>
        </sequence>
    </module>
</config>
