<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="standard">
        <route id="semysiuk_blogmodule" frontName="semysiuk_blogmodule">
            <module name="Semysiuk_BlogModule" />
        </route>
    </router>
</config>
